apiVersion: v1
kind: Pod
metadata:
  name: backend-pod
  namespace: {{.Values.namespace}}
  labels:
    app: backend-pod
spec:
  containers:
    - name: backend-container
      image: tvpow3r/backend-app:44
      imagePullPolicy: Always
      ports:
        - containerPort: 8000
      envFrom:
        - secretRef:
            name: backend-secrets

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: {{.Values.namespace}}
spec:
  type: {{.Values.backend.serviceType}}
  selector:
    app: backend-pod
  ports:
    - port: 8000
      targetPort: 8000
