apiVersion: apps/v1 # Deployment service have built-in controllers that constantly monitor the state of the application
kind: Deployment
metadata:
  name: backend-pod
  namespace: {{.Values.namespace}}
  labels:
    app: backend-pod
spec:
  replicas: 1 # This is telling kubernetes how many pods must be running
  selector:
    matchLabels:
      app: backend-pod
  template:
    metadata:
      labels:
        app: backend-pod
    spec:
      containers:
        - name: backend-container
          image: {{.Values.backend.DockerImage}}
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: backend-secrets

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: {{.Values.namespace}}
spec:
  type: {{.Values.backend.serviceType}}
  selector:
    app: backend-pod
  ports:
    - port: 8000
      targetPort: 8000


#when doing update what is the the --reuse-values flag
#In the CD pipeline we need to replace so it uses kubernetes, and it deploys through helm
#---
#Research task:
# Ansible

