apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-pod
  namespace: {{.Values.namespace}}
  labels:
    app: frontend-pod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-pod
  template:
    metadata:
      labels:
        app: frontend-pod
    spec:
      containers:
        - name: frontend-container
          image: {{.Values.frontend.DockerImage}}
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: {{.Values.namespace}}
spec:
  type: {{.Values.frontend.serviceType}}
  selector:
    app: frontend-pod
  ports:
   - port: 3000
     targetPort: 3000

