apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-pod
  namespace: {{.Values.namespace}}
  labels:
    app: nginx-pod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-pod
  template:
    metadata:
      labels:
        app: nginx-pod
    spec:
      containers:
        - name: nginx
          image: nginx:1.29-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: {{.Values.namespace}}
spec:
  type: {{.Values.nginx.serviceType}}
  selector:
    app: nginx-pod
  ports:
    - port: 80
      targetPort: 80
      nodePort: {{.Values.nginx.nodePort}}