apiVersion: v1
kind: Pod
metadata:
  name: nginx
  namespace: {{.Values.namespace}}
  labels:
    app: nginx
spec:
  containers:
    - name: nginx
      image: nginx:1.29-alpine
      ports:
        - containerPort: 80
      volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
  volumes:
    - name: nginx-config
      configMap:
        name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: {{.Values.namespace}}
spec:
  type: {{.Values.nginx.serviceType}}
  selector:
    app: nginx
  ports:
    - port: 80
      nodePort: {{.Values.nginx.nodePort}}