trigger:
  - main # Runs whenever code is pushed to main

# make 2 azure pipeline 1 for BE and 1 for FE
#Basically so that if there are any changes it updates the pipeline for the certain pipeline
pool:
  name: 'Default'

parameters:
  - name: buildConfiguration
    displayName: Build Config
    type: string
    default: release
    values:
      - release
      - debug

variables:
  frontendImageName: 'frontend-app'
  backendImageName: 'backend-app'

stages:
  - stage: Build
    displayName: Build and Push Stage
    jobs:
      - job: BuildBackend
        displayName: Build Backend Image
        steps:
          - task: Docker@2
            displayName: Build Backend
            inputs:
              command: build
              repository: $(backendImageName)
              dockerfile: 'backend/Dockerfile'
              tags:


      - job: BuildFrontEnd
        displayName: Build Next.js FE
        steps:
          - task: Docker@2
            displayName: Build FE image
            inputs:
              command: build
              repository: $(frontendImageName)
              dockerfile: 'frontend/Dockerfile'
              tags:

  # Implicitly, this already adds the buildId onto your image
  # What this step of the deployment is going to do is if there is any update to any of the pipelines
  # We must delete the container then run and build and run the new version
  # Add nginx
  - stage: Deployment
    displayName: Deploy Stage
    dependsOn: Build
    jobs:
      - job: Deploy
        displayName: Deploy with Docker Compose
        steps:
          - script: |
              docker compose down
              docker compose up -d
            displayName: Restart containers
            env:
              DB_NAME: $(DB_NAME)
              DB_USER: $(DB_USER)
              DB_PASSWORD: $(DB_PASSWORD)
              DB_ROOT_PASSWORD: $(DB_ROOT_PASSWORD)
